@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <p><h3>@Model.AccountName</h3></p>
        <p>
            <div>
                <table class="table">
                    <tbody>
                        @foreach (var blob in Model.Blobs)
                        {
                            <tr>
                                <td><a href="@blob.Href"> @blob.Name</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </p>
    </div>
</div>
