@page
@using AzureStorage.Pages
@model KeyVaultModel

@{
    ViewData["Title"] = "KeyVault";
}

<div class="text-center">
    <div>

        <label>Secret: @Model.SecretValue</label><label></label>
    </div>
</div>